<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServerConnString" providerName="System.Data.SqlClient" connectionString="Data Source=Server=ZAZN-UMH--A71C3\SQLEXPRESS;Initial Catalog=Data;Trusted_Connection=True;TrustServerCertificate=True;Integrated Security=true;Encrypt=false;" />
	</connectionStrings>
</configuration>
